<div class="flex justify-center">
  <div class="items-center mt-11 mb-11 gap-8 flex flex-col">
    <%= image_tag @user.google_qr_uri, class: "skeleton h-42 w-auto" %>

    <%= form_with url: user_mfa_sessions_create_path, method: :get do |f| %>
      <fieldset class="fieldset w-xs bg-white border border-base-300 p-4 rounded-box">
        <%= f.label :email, "二段階認証コード", class: "fieldset-label" %>
        <%= f.text_field :mfa_code, class: "input" %>
        <%= f.submit '送信', class: "btn btn-secondary" %>
      </fieldset>
    <% end %>
  </div>
</div>