<header>
    <div class="navbar bg-base-content text-primary-content" style="height: 140px;">
        <!--ヘッダー左サイドのブロック-->
        <div class="navbar-start">
            <div class="dropdown  text-base-content">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
                </div>
                <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 secondary">
                    <li><%= link_to "プロフィール", "/users/1/edit" %></li> <!--edit_user_path-->
                    <li><%= link_to "ブックマーク", "" %></li>
                    <div id="nav">
                    <% if current_user %>
                        <li><%= link_to "ログアウト", logout_path, method: :delete, data: { turbo_method: :delete } %></li>
                    <% end %>
                </ul>
            </div>
        </div>

        <!--ヘッダーのセンターのブロック-->
        <div class="navbar-center">
            <%= image_tag 'tittle.png', class:"w-90 h-auto" %>
        </div>

        <!--ヘッダーの右サイドのブロック-->
        <div class="navbar-end">
            <% if current_user %>
                <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "btn btn-secondary btn-lg" %>
            <% else %>
                <%= link_to "ユーザー登録", new_user_path, class: "btn btn-secondary btn-lg", style: "margin-right: 10px;"%>
                <%= link_to "ログイン", login_path, class: "btn btn-secondary btn-lg"%>
            <% end %>
        </div>
    </div>
</header>
