<%= form_with model:@post do |f| %>
<div>
    <%= f.label :title, "タイトル", class: "block font-bold text-white mb-2 sm:mb-4" %>
    <%= f.text_field :title, :placeholder => "タイトル", class: "input input-lg" %>
</div>

<div>
    <%= f.label :youtube_video, "動画URL", class: "block font-bold text-white mb-2 sm:mb-4" %>
    <%= f.text_field :youtube_video, :placeholder => "URL", class: "input input-lg", :size => 140 %>
</div>

<div>
    <%= f.label :body, "感想", class: "block font-bold text-white mb-2 sm:mb-4" %>
    <%= f.text_field :body, :placeholder => "感想", class: "textarea textarea-lg" %>
</div>

<div>
    <%= f.submit "送信", class: "btn btn-neutral mt-4" %>
</div>
<% end %>